.slider {
  height: 600px;
  color: white;
  //background-image: url(../../assets/img/slider-img-1.png);
  background: linear-gradient(0deg, white, black) no-repeat fixed center;
  background-size: cover;
}