$primary-color: #1F1F1F;
$link-color: #41515A;

$placeholder-color: #A0A0A0;
$primary-msg-color: #a0a0a0;
$info-msg-color: #5fc1ce;
$error-msg-color: #ff8c8c;
$success-msg-color: #8cff9f;

$card-bg-color: #F8F8F8;
